.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container-weather-image {
  text-align: center;
  margin: 0 auto;
}

.weather-image {
  margin-top: 80px;
  width: 300px;
}

.search-location-title {
  color: rgb(216, 155, 63);
}

#search-input {
  border: 0;
  width: 250px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
} 

.search-container {
  width: 250px;
  margin: 0 auto;
}
  
.location-list {
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
  
.search-list li:hover {
  background-color: #0091CF;
}
  
.search-link {
  padding: 15px;
  color: #888;
  display: block;
  text-decoration: none;
}
  
.location-list:hover {
  color: white;
}
  
.search-link:active {
  color: white;
}
  
.search-list {
  width: 267px;
  margin-top: 5px;
  padding-left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}